body {
  margin: 0;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  max-height: 100vh;
}

.app__container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .app__container {
    max-width: 600px;
  }
}

.button {
  transition: .3s;
}

.button:hover {
  transition: .3s;
  cursor: pointer;
  opacity: .8;
}